* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-bold: 900;
  --bold: 700;
  --med: 500;
  --reg: 400;
  --lighter-black-bg-color: #010103;
  --darker-black-bg-color: #000000;
  --black75: #000000b7;
  --black50: #00000079;
  --black25: #00000038;
  --grey-bg-color: #121111;
  --red-bg-color: #15090a;
  --white: #eeefea;
  --white-less: #eeefead3;
  --grey-text: #343a40;
  --straw-brown: #948468;
  --straw-brown25: #948468c4;
  --egg-brown: #a05506;
  --green: #5c8000;
  --play-fair: "Playfair Display";
  --roboto: "Roboto";
}

section {
  padding: 2rem;
}

main {
  max-width: 1920px;
  margin: 0 auto;
}

#map,
iframe {
  width: 200px;
}

body {
  color: var(--white);
  font-family: var(--roboto);
  background-color: var(--grey-text);
}

a {
  text-decoration: none;
}

/* Navbar */
.navigation-container {
  max-width: 1920px;
  margin: 0 auto;
  top: 0px;
  position: sticky;
  z-index: 9999999;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

#nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  width: 100%;
  position: absolute;
  top: 74px;
  padding: 1rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-add-black {
  border-bottom: 3px solid var(--black25);
  background-color: var(--lighter-black-bg-color);
}

.nav-list-off {
  display: none;
  transition: 250ms ease-in;
}

.nav-list-item {
  font-size: 1rem;
  color: var(--white);
  font-weight: var(--med);
  font-family: var(--play-fair);
  font-style: italic;
  margin: 0.5rem 0;
}

.nav-list-item:hover {
  color: var(--green);
  transition: 250ms ease-in;
}

.active {
  color: var(--green);
}

#burger {
  width: auto;
  height: auto;
  cursor: pointer;
}

.burger-line {
  width: 26px;
  height: 4px;
  background-color: var(--white);
  margin: 0.4rem;
}

/* subscribe */

#subscribe {
  background-color: var(--red-bg-color);
}

.sub-center {
  text-align: center;
  margin-top: -1rem;
}

/* footer */

#footer {
  background-color: var(--lighter-black-bg-color);
}

/* Landing */
#landing-bg {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-top: -77px;
  height: 100vh;
  max-height: 1875px;
  max-width: 100%;
  padding: 30vh 0;
  background: url(/images/landing.png) no-repeat center center;
  box-shadow: inset 0px 0px 0px 1000px var(--black75);
}

.landing-text {
  font-size: 2.8rem;
  text-shadow: 1px 1px 1px var(--black75);
  text-align: center;
}

.landing-main {
  margin-left: 0.1rem;
  font-family: var(--play-fair);
  font-style: italic;
}

.landing-sec {
  color: var(--green);
}

.landing-btn {
  padding: 0.25rem 1rem;
  line-height: 2.5rem;
  border: 2px solid var(--white);
  background: none;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px var(--black);
  font-weight: var(--reg);
  display: block;
  margin: 1rem auto;
}

.landing-btn:hover {
  color: var(--green);
  background-color: var(--black50);
  border: 2px solid var(--green);
}

.brown {
  color: var(--egg-brown);
}

#about-info {
  background-color: var(--red-bg-color);
}

.about-info-container {
  max-width: 500px;
  margin: 0 auto;
}

.about-info-text {
  line-height: 1.5rem;
  margin: 1rem 0;
}

#product-info {
  background: url(/images/wood.png);
  box-shadow: inset 0px 0px 0px 1000px var(--black50);
  position: relative;
  border-bottom: 3px solid var(--black50);
  border-top: 3px solid var(--black50);
}

#gallery-info {
  background-color: var(--darker-black-bg-color);
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(1, minmax(auto, 400px));
  grid-template-rows: repeat(5, auto);
}

#gallery-info .gallery-info-a:nth-child(3) {
  grid-row: auto / span 2;
}

#gallery-info img {
  border-radius: 0px;
  vertical-align: top;
}

.gallery-info-container {
  position: relative;
}

.gallery-info-container::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "View Gallery";
  font-weight: var(--med);
  font-family: var(--play-fair);
  color: var(--white);
  font-style: italic;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black75);
  opacity: 0;
  transition: 250ms ease-in;
}

.gallery-info-container:hover::after {
  opacity: 1;
}

#contact {
  background-color: var(--grey-bg-color);
}

#map {
  width: 100%;
  height: 350px;
}

.google-map {
  width: 100%;
  height: 350px;
}

.form-control {
  margin: 1rem 0;
  display: block;
  width: 100%;
}
::placeholder {
  color: var(--black75);
}

input[type="text"],
textarea[type="text"],
input[type="email"] {
  font-family: var(--roboto);
  padding: 0.5rem;
  font-weight: var(--med);
  background-color: #ffffff;
  border: none;
  resize: none;
  width: 100%;
}

textarea {
  height: 195px;
}

label {
  display: none;
}

/* util */
.img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.btn-base {
  transition: 250ms ease-in;
  cursor: pointer;
  border-radius: 4px;
  color: var(--white);
}

.btn {
  font-weight: var(--med);
  background-color: var(--straw-brown);
  border: 4px solid var(--straw-brown25);
  padding: 0.5rem 0.5rem;
  font-size: 1.15rem;
}

.header-title {
  font-family: var(--play-fair);
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.btn:hover {
  background-color: var(--straw-brown25);
}

.card {
  border-radius: 8px;
  max-width: 320px;
  margin: auto;
  padding: 1rem;
  background-color: var(--black50);
}

.card:hover {
  background-color: var(--black75);
}

.card-text {
  width: 100%;
  color: var(--white-less);
  line-height: 1.35rem;
}

.card-tp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.75rem 0;
}

.card-title {
  color: var(--white);
  font-weight: var(--med);
  font-size: 1.3rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-price {
  color: var(--green);
  font-family: var(--play-fair);
  font-style: italic;
  font-size: 1rem;
}

@media only screen and (min-width: 425px) {
  .form-control-sm {
    display: inline-block;
    width: calc(50% - 2px);
    margin-bottom: 0;
  }

  .form-control-sm:nth-child(2) {
    padding-left: 10px;
  }
}

@media only screen and (min-width: 768px) {
  #contact {
    padding-top: 3rem;
  }
  .contact-title {
    margin-bottom: 3rem;
  }

  .contact-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
  }

  .form-control-sm {
    margin-top: 0;
  }

  .contact-form {
    margin-left: 1.4rem;
    width: 50%;
  }

  textarea {
    height: 245px;
  }

  #map {
    width: 50%;
    height: 400px;
  }

  .google-map {
    height: 400px;
  }

  section {
    padding: 4rem 2rem;
  }

  #gallery-info {
    grid-template-columns: repeat(2, minmax(auto, 400px));
    grid-template-rows: repeat(3, auto);
  }

  #burger {
    display: none;
  }

  .nav-list {
    width: 360px;
    position: initial;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .about-info-container {
    max-width: 1050px;
    display: flex;
  }

  #gallery-info {
    grid-template-columns: repeat(3, minmax(auto, 400px));
    grid-template-rows: repeat(2, auto);
  }

  .about-info-text {
    margin-top: 0;
  }
  .about-info-space {
    margin: auto 1.4rem;
  }
}
