* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-bold: 900;
  --bold: 700;
  --med: 500;
  --reg: 400;
  --lighter-black-bg-color: #010103;
  --darker-black-bg-color: #000000;
  --black-text: #000000;
  --black75: #000000b7;
  --black50: #00000079;
  --black25: #00000038;
  --grey-bg-color: #121111;
  --red-bg-color: #15090a;
  --white: #eeefea;
  --white-less: #eeefead3;
  --grey-text: #343a40;
  --straw-brown: #948468;
  --straw-brown25: #948468c4;
  --egg-brown: #a05506;
  --green: #5c8000;
  --play-fair: "Playfair Display";
  --roboto: "Roboto";
}

footer,
section {
  max-width: 1920px;
  margin: 0 auto;
}

#map,
iframe {
  width: 200px;
}

body {
  color: var(--white);
  font-family: var(--roboto);
  background-color: var(--grey-text);
}

a {
  text-decoration: none;
}

/* Navbar */
.navigation-container {
  max-width: 1920px;
  margin: 0 auto;
  top: 0px;
  position: sticky;
  z-index: 9999999;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

#nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  width: 100%;
  position: absolute;
  top: 77px;
  padding: 1rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-add-black {
  border-bottom: 3px solid var(--black25);
  background-color: var(--lighter-black-bg-color);
}

.nav-list-off {
  display: none;
  transition: 250ms ease-in;
}

.nav-list-item {
  font-size: 1rem;
  color: var(--white);
  font-weight: var(--med);
  font-family: var(--play-fair);
  font-style: italic;
  margin: 0.5rem 0;
  text-decoration: none;
}

.nav-list-item:hover {
  color: var(--green);
  transition: 250ms ease-in;
}

.active {
  color: var(--green) !important;
}

#burger {
  width: auto;
  height: auto;
  cursor: pointer;
}

.burger-line {
  width: 26px;
  height: 4px;
  background-color: var(--white);
  margin: 0.4rem;
}

#subscribe {
  padding: 2rem;
  background-color: var(--red-bg-color);
}
.email-form {
  margin: 0 auto;
  max-width: 500px;
}
.sub-form-control {
  max-width: 500px;
}

.sub-form-control input[type="email"] {
  border-radius: 4px;
}

.sub-btn {
  margin-top: 1rem;
  background: none;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  font-weight: var(--med);
}

.sub-btn:hover {
  background: var(--white);
  color: var(--red-bg-color);
}

.sub-text {
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0 2rem 0;
}

#footer {
  padding: 2rem 2rem 0 2rem;
  background-color: var(--lighter-black-bg-color);
  color: var(--grey-text);
}

.footer-container,
.information-container {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.footer-group-title,
.information-group-title {
  margin: 1rem 0;
}

.footer-group-title {
  font-size: 1rem;
}

.information-group-title {
  font-size: 1.2rem;
}

.footer-list-group,
.information-list-group {
  list-style: none;
  line-height: 1.5rem;
}

.icons {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}

.footer-bottom-text {
  font-size: 0.8rem;
}

.footer-bottom-link {
  color: var(--green);
}

.footer-bottom-link:hover {
  text-decoration: underline;
}

.footer-container-main,
.information-container-main {
  display: flex;
  flex-wrap: wrap;
}

#landing-bg {
  text-align: center;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-top: -77px;
  height: 100vh;
  max-height: 1875px;
  padding: 30vh 0;
  background: url(/images/landing.png) no-repeat center center;
}

#landing-bg::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: var(--black75);
}

.center {
  position: relative;
  z-index: 1;
}

.landing-text {
  font-size: 2.8rem;
  text-shadow: 1px 1px 1px var(--black75);
}

.landing-main {
  margin-left: 0.1rem;
  font-family: var(--play-fair);
  font-style: italic;
}

.landing-sec {
  color: var(--green);
}

.landing-btn {
  margin: 1rem auto 0rem auto;
  padding: 0.75rem 1rem;
  border: 2px solid var(--white);
  background: none;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px var(--black);
  font-weight: var(--reg);
  display: inline-block;
}

.landing-btn:hover {
  color: var(--green);
  background-color: var(--black50);
  border: 2px solid var(--green);
}

.brown {
  color: var(--egg-brown);
}

#about-info {
  padding: 2rem;
  background-color: var(--red-bg-color);
}

.about-info-container {
  max-width: 500px;
  margin: 0 auto;
}

.about-info-text {
  margin: 1rem 0;
}

#product-info {
  background: url(/images/wood.png);
  position: relative;
  padding: 2rem 0;
}

#product-info::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: var(--black50);
}

.product-card {
  margin: 0 auto;
  border-radius: 8px;
  max-width: 320px;
  padding: 1rem;
  background-color: var(--black50);
}

.product-card:hover {
  background-color: var(--black75);
}

.product-card-text {
  width: 100%;
  color: var(--white-less);
  line-height: 1.35rem;
}

.product-card-title {
  margin: 0.75rem 0;
  color: var(--white);
  font-weight: var(--med);
  font-size: 1.3rem;
}

.product-card-body {
  display: flex;
  flex-direction: column;
}

.product-card-price {
  margin: 0.75rem 0;
  color: var(--green);
  font-family: var(--play-fair);
  font-style: italic;
  font-size: 1rem;
}

.product-card-price:before {
  content: "$";
}

#gallery-info,
#gallery-images {
  padding: 2rem;
  background-color: var(--darker-black-bg-color);
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(1, minmax(auto, 450px));
  grid-template-rows: repeat(5, auto);
}

#gallery-info .gallery-info-a:nth-child(3),
#gallery-images .gallery-image-container:nth-child(3) {
  grid-row: auto / span 2;
}

#gallery-info img,
#gallery-images img {
  border-radius: 0px;
  vertical-align: top;
}

.gallery-info-container,
.gallery-image-container {
  position: relative;
}

.gallery-image-container::after,
.gallery-info-container::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "View Gallery";
  font-weight: var(--med);
  font-family: var(--play-fair);
  color: var(--white);
  font-style: italic;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black75);
  opacity: 0;
  transition: 250ms ease-in;
}

.gallery-image-container::after {
  content: "View Image";
  cursor: pointer;
}

.gallery-info-container:hover::after,
.gallery-image-container:hover::after {
  opacity: 1;
}

#contact {
  padding: 2rem;
  background-color: var(--grey-bg-color);
}

#contact .header-title {
  margin-bottom: 2rem;
}

#map {
  width: 100%;
  height: 350px;
}

.google-map {
  width: 100%;
  height: 350px;
}

.form-control {
  margin: 1rem 0;
  display: block;
}

::placeholder {
  color: var(--black75);
}

input[type="text"],
textarea[type="text"],
.form-control input[type="email"],
.sub-form-control input[type="email"] {
  font-family: var(--roboto);
  padding: 0.5rem;
  font-weight: var(--med);
  background-color: #ffffff;
  border: none;
  resize: none;
  width: 100%;
}

textarea {
  height: 195px;
}

label {
  display: none;
}

/* util */
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-base {
  line-height: 1.5rem;
  font-size: 1rem;
}

.img {
  display: block;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.btn-base {
  transition: 250ms ease-in;
  cursor: pointer;
  border-radius: 4px;
  color: var(--white);
  outline: none;
}

.btn {
  font-weight: var(--reg);
  background-color: var(--straw-brown);
  border: 4px solid var(--straw-brown25);
  padding: 0.5rem;
  font-size: 1.15rem;
  display: inline-block;
}

.header-title {
  font-family: var(--play-fair);
  text-align: center;
  font-size: 1.6rem;
}

.header-title2 {
  font-family: var(--roboto);
  font-size: 1.6rem;
}

.btn:hover {
  background-color: var(--straw-brown25);
}

/* glide.js */

.glide {
  position: relative;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: auto;
  flex-shrink: 4;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}

/* arrow */
.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;

  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}

#product-info .glide__arrow {
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background-color: transparent;
}

#gallery .glide__arrow {
  padding: 18px 15px;
  border: none;
}

#gallery .glide__arrow--left {
  background: url(/images/left.svg) no-repeat center center;
}

#gallery .glide__arrow--right {
  background: url(/images/right.svg) no-repeat center center;
}

#gallery .glide__arrow .glide__arrow:focus {
  outline: none;
}
#product-info .glide__arrow:hover {
  border-color: var(--green);
  color: var(--green);
}
.glide__arrow--left {
  left: 2rem;
}
.glide__arrow--right {
  right: 2rem;
}
.glide__arrow--disabled {
  opacity: 0.33;
}

#product-info .glide--swipeable,
#gallery .glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#product-info .glide--dragging,
#gallery .glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
@media only screen and (max-width: 550px) {
  .glide__arrows {
    display: none;
  }
}

@media only screen and (min-width: 425px) {
  .form-control-sm {
    display: inline-block;
    width: calc(50% - 2px);
    margin-bottom: 0;
  }

  .form-control-sm:nth-child(2) {
    padding-left: 12px;
  }
}

@media only screen and (min-width: 768px) {
  #product-info {
    padding: 4rem 0;
  }

  #contact {
    padding: 3rem 2rem 4rem 2rem;
  }

  #subscribe,
  #about-info,
  #gallery-info,
  #gallery-images {
    padding: 4rem 2rem;
  }

  textarea {
    height: 245px;
  }

  #burger {
    display: none;
  }

  .nav-list {
    width: 360px;
    position: initial;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  #gallery-info,
  #gallery-images {
    grid-template-columns: repeat(2, minmax(auto, 400px));
    grid-template-rows: repeat(3, auto);
  }

  .email-form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
  }

  .sub-form-control {
    width: 500px;
    margin-right: 1rem;
  }

  .sub-btn {
    margin: 0;
  }

  #contact .header-title {
    margin-bottom: 3rem;
  }

  .contact-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
  }

  .form-control-sm {
    margin-top: 0;
  }

  .contact-form {
    margin-left: 1rem;
    width: 50%;
  }

  #map {
    width: 50%;
    height: 400px;
  }

  .google-map {
    height: 400px;
  }

  .footer-container,
  .information-container {
    width: 50%;
  }
}

@media only screen and (min-width: 920px) {
  #product-info {
    padding: 4rem 8rem;
  }
  #product-info .glide__arrow--left {
    left: -6rem;
  }
  #product-info .glide__arrow--right {
    right: -6rem;
  }
}

@media only screen and (min-width: 1024px) {
  .about-info-container {
    max-width: 1050px;
    display: flex;
  }

  .about-info-space {
    margin: auto 1rem;
  }

  .about-info-text {
    margin-top: 0;
  }

  #gallery-info,
  #gallery-images {
    grid-template-columns: repeat(3, minmax(auto, 400px));
    grid-template-rows: repeat(2, auto);
  }
  .footer-container,
  .information-container {
    width: 25%;
  }
}
