.btn-base {
  display: inline-block;
  transition: 250ms ease-in;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}

.btn-normal {
  font-weight: var(--reg);
  padding: 0.5rem;
  font-size: 1.15rem;
  color: var(--white);
}

.btn {
  &-red {
    @extend .btn-base;
    background: none;
    margin-top: 0.8rem;
    margin-left: 4px;
    padding: 0.4rem 0.75rem;
    font-size: 0.8rem;
    font-weight: var(--med);
    color: var(--white);
    display: block;
  }

  &-red:hover {
    background: var(--white);
    color: var(--red-bg-color);
  }

  &-brown {
    @extend .btn-base;
    @extend .btn-normal;
    background-color: var(--straw-brown);
    border: 4px solid var(--straw-brown25);
  }

  &-brown:hover {
    background-color: var(--straw-brown25);
  }

  &-green {
    @extend .btn-base;
    @extend .btn-normal;
    background-color: var(--green);
    border: 4px solid var(--green25);
  }

  &-green:hover {
    background-color: var(--green25);
  }

  &-checkOut {
    @extend .btn-green;
    display: flex;
    justify-content: space-between;
    color: var(--black-text);
    .cart-svg {
      transition: fill 250ms ease-in;
      fill: var(--black-text);
    }
  }

  &-checkOut:hover {
    color: var(--white);
    background-color: var(--green25);

    .cart-svg {
      fill: var(--white);
    }
  }

  &-white-link {
    @extend .btn-base;
    color: var(--white-less);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    .cart-svg {
      transition: fill 250ms ease-in;
      fill: var(--white-less);
    }
  }

  &-white-link:hover {
    color: var(--green25);
    .cart-svg {
      fill: var(--green25);
    }
  }

  &-clear {
    &-cart {
      @extend .btn-base;
      @extend .btn-normal;
      color: var(--white-less);
      background: none;
      border: 1px solid;
    }
    &-cart:hover {
      border: 1px solid var(--red);
      color: var(--red);
    }
    &-item {
      @extend .btn-base;
      color: var(--white-less);
      background: none;
      padding: 0.25rem;
      font-size: 0.9rem;
      line-height: 1.25rem;
      margin: 0.25rem 0;
      border: 1px solid;
    }
    &-item:hover {
      border: 1px solid var(--red);
      color: var(--red);
    }
  }
  &-main {
    @extend .btn-base;
    color: var(--white);
    margin: 1rem auto 0rem auto;
    padding: 0.75rem 1rem;
    border: 2px solid var(--white);
    background: none;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px var(--black);
    font-weight: var(--reg);
    display: inline-block;
  }

  &-main:hover {
    color: var(--green);
    background-color: var(--black50);
    border: 2px solid var(--green);
  }
}
