.active {
    color: var(--green) !important;
  }

.img {
  display: block;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  }

  .sr-only{
    display: none;
  }

  .helper-text{
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--white);
  }
