
  #landing{
    @include flex-center-center;
    text-align: center;
    position: relative;
    margin-top: -80px;
    width: 100%;
    height: 100vh;
    max-height: 1875px;
    padding: 30vh 0;
    background: url(/images/landing.png) no-repeat center center;
  }
  
  #landing::after {
    @include overlay;
    background-color: var(--black75);
  }
  
  #landing-about {
    padding: 2rem;
    background-color: var(--red-bg-color);
  }

  #landing-product{
    background: url(/images/wood.png);
    position: relative;
    padding: 2rem 0;
  }

  #landing-product::after {
    @include overlay;
    background-color: var(--black50);
  }
  
  .landing{
      position: relative;
      z-index: 1;
      font-size: 2rem;
      text-shadow: 1px 1px 1px var(--black75);

      &-title{
        margin-left: 0.1rem;
        font-family: var(--play-fair);
        font-style: italic;

        &-brown{
            font-style: normal;
            color: var(--egg-brown);
        }

        &-green{
            font-style: normal;
            color: var(--green);
        }
      }

      &-about{
        &-container{
          max-width: 500px;
          margin: 0 auto;
        }

        &-text{
          margin: 1rem 0;
        }
      }

      
  }


  #landing-gallery,
  #gallery-images {
    display: grid;
    justify-content: center;
    padding: 2rem;
    background-color: var(--darker-black-bg-color);
    grid-template-columns: repeat(1, minmax(auto, 450px));
    grid-template-rows: repeat(5, auto);
  }
  
  #gallery-info .gallery-info-a:nth-child(3),
  #gallery-images .gallery-image-container:nth-child(3) {
    grid-row: auto / span 2;
  }
  
  #gallery-info img,
  #gallery-images img {
    border-radius: 0px;
    vertical-align: top;
  }
  
  .gallery-info-container,
  .gallery-image-container {
    position: relative;
  }
  
  .gallery-image-container::after,
  .gallery-info-container::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "View Gallery";
    font-weight: var(--med);
    font-family: var(--play-fair);
    color: var(--white);
    font-style: italic;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black75);
    opacity: 0;
    transition: 250ms ease-in;
  }
  
  .gallery-image-container::after {
    content: "View Image";
    cursor: pointer;
  }
  
  .gallery-info-container:hover::after,
  .gallery-image-container:hover::after {
    opacity: 1;
  }