.flex-center-center {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.flex-center-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center-end{
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
}

.section-default-padding-p2{
    padding: 2rem;
}