:root {
    --very-bold: 900;
    --bold: 700;
    --med: 500;
    --reg: 400;
    --lighter-black-bg-color: #010103;
    --darker-black-bg-color: #000000;
    --black-text: #000000;
    --black75: #000000b7;
    --black50: #00000079;
    --black25: #00000038;
    --grey-bg-color: #121111;
    --red-bg-color: #15090a;
    --white: #eeefea;
    --white-less: #eeefead3;
    --grey-text: #343a40;
    --straw-brown: #948468;
    --straw-brown25: #948468c4;
    --egg-brown: #a05506;
    --green: #5c8000;
    --green25: #5c8000c7;
    --red: rgb(153, 13, 13);
    --play-fair: "Playfair Display";
    --roboto: "Roboto";
  }
  