#subscribe {
    padding: 2rem;
    background-color: var(--red-bg-color);
    text-align: center;
  }

.subscribe{
  &-text{
    font-size: 1rem;
  }
  &-title{
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-family: var(--play-fair);
  }
  &-form{
    margin: 0 auto;
    max-width: 320px;
    padding: 1.25rem 0 0 0;

    &-label{
      font-weight: var(--med);
      font-size: 1rem;
      position: relative;
      top: 2px;
    }

    &-input[type="email"]{
      max-width: 100%;
      width: 320px;
      border-radius: 6px;
      line-height: 1.8rem;
      border: 4px solid black;
      font-family: var(--roboto);
      font-size: 0.8rem;
      color: var(--black-text);
      padding-left: 0.5rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  #subscribe{
    padding: 4rem 2rem;
  }

  .subscribe{
    &-form{
      @include flex-center-center;
      flex-direction: row;
      margin: 1rem auto 0 auto;
      max-width: 700px;
      &-input[type="email"]{
        width: 400px;
        margin-right: 0.8rem;
      }
    }
  }

  .btn{
    &-red{
      margin: 0;
    }
  }
}

